@{ Layout = "_master.cshtml";}
@section body{
    <template id="main">
        <div>
            <yd-tab v-model="tab">
                <yd-tab-panel label="未处理"></yd-tab-panel>
                <yd-tab-panel label="已处理"></yd-tab-panel>
            </yd-tab>
            <div class="sart-list">
                <yd-infinitescroll :callback="loadList" ref="listScroll">
                    <template slot="list">
                        <div class="sart-item" v-for="item in list">
                            <div class="sart-head">
                                <span class="sart-create">{{item.create}}</span>
                                <font>TEL:</font><font v-if="item.mobile">{{item.mobile}}</font><font v-else>未留手机号</font><em>{{item.name}}</em>
                            </div>
                            <div class="sart-body">
                                <div>第一个周期活产率（D1)<span>{{item.one}}%</span></div>
                                <div>第二个周期活产率（D2)<span>{{item.two}}%</span></div>
                                <div>第三个周期活产率（D3)<span>{{item.three}}%</span></div>
                            </div>
                            <div class="sart-foot">
                                <yd-button type="primary" @@click.stop.native="view(item.id)">查 看</yd-button>
                            </div>
                        </div>
                        <div v-if="list.length == 0" style="text-align:center; padding: 1rem; color:#c9c9c9">
                            <font v-if="tab === 1">暂无已处理的测试记录</font>
                            <font v-else>暂无未处理的测试记录</font>
                        </div>
                    </template>
                    <span slot="doneTip">到底啦，暂无更多数据~~</span>
                </yd-infinitescroll>
            </div>
        </div>
    </template>
    <template id="view">
        <div class="sart-view">
            <div class="sart-view-body" v-if="success">
                <div class="sart-view-item">
                    <div class="sart-view-title">基础信息</div>
                    <div class="sart-view-content">
                        <yd-cell-group>
                            <yd-cell-item v-if="name">
                                <span slot="left">姓名</span>
                                <span slot="right">{{name}}</span>
                            </yd-cell-item>
                            <yd-cell-item v-if="mobile">
                                <span slot="left">手机号码</span>
                                <span slot="right">{{mobile}}</span>
                            </yd-cell-item>
                            <yd-cell-item v-if="time">
                                <span slot="left">测试时间</span>
                                <span slot="right">{{time}}</span>
                            </yd-cell-item>
                        </yd-cell-group>
                    </div>
                </div>

                <div class="sart-view-item" v-if="false">
                    <div class="sart-view-title">基础信息</div>
                    <div class="sart-view-content">
                        <yd-cell-group>
                            <yd-cell-item>
                                <span slot="left">准妈妈年龄</span>
                                <span slot="right"><font class="sart-view-value">{{age}}</font>岁</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">准妈妈身高</span>
                                <span slot="right"><font class="sart-view-value">{{height}}</font>cm</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">准妈妈体重</span>
                                <span slot="right"><font class="sart-view-value">{{weight}}</font>Kg</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">准爸爸年龄</span>
                                <span slot="right"><font class="sart-view-value">{{ageF}}</font>岁</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">准爸爸身高</span>
                                <span slot="right"><font class="sart-view-value">{{heightF}}</font>cm</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">准爸爸体重</span>
                                <span slot="right"><font class="sart-view-value">{{weightF}}</font>Kg</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">以前怀孕的次数</span>
                                <span slot="right">
                                    <font v-if="PriorPregnancies=='Unknown'" class="sart-view-value">不记得了</font>
                                    <font v-else class="sart-view-value">{{PriorPregnancies}}次</font>
                                </span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">以前有过多少次足月（>=37周）分娩</span>
                                <span slot="right">
                                    <font v-if="PriorPregnancies=='Unknown'" class="sart-view-value">不记得了</font>
                                    <font v-else class="sart-view-value">{{FullTermBirths}}次</font>
                                </span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">期望卵子来源</span>
                                <span slot="right">
                                    <font class="sart-view-value" v-if="oocytesource=='1'">自己的卵子</font>
                                    <font class="sart-view-value" v-if="oocytesource=='2'">捐献的卵子</font>
                                </span>
                            </yd-cell-item>
                        </yd-cell-group>
                    </div>
                </div>

                <div class="sart-view-item">
                    <div class="sart-view-title">试管意愿</div>
                    <div class="sart-view-content">
                        <yd-cell-group>
                            <yd-cell-item>
                                <span slot="left">是否有意愿尝试试管婴儿</span>
                                <span slot="right">
                                    <font class="sart-view-value" v-if="SFYYYCSSGYE=='A'">有意愿</font>
                                    <font class="sart-view-value" v-if="SFYYYCSSGYE=='B'">没有意愿</font>
                                    <font class="sart-view-value" v-if="SFYYYCSSGYE=='C'">考虑中</font>
                                </span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">希望进行试管婴儿的地区</span>
                                <span slot="right">
                                    <font class="sart-view-value" v-if="XWJXSGYEDDQ=='A'">国内</font>
                                    <font class="sart-view-value" v-if="XWJXSGYEDDQ=='B'">海外</font>
                                </span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">试管婴儿预算</span>
                                <span slot="right">
                                    <font class="sart-view-value" v-if="SGYEYS=='A'">5万以下</font>
                                    <font class="sart-view-value" v-if="SGYEYS=='B'">10万以下</font>
                                    <font class="sart-view-value" v-if="SGYEYS=='C'">20万以下</font>
                                </span>
                            </yd-cell-item>
                        </yd-cell-group>
                    </div>
                </div>

                <div class="sart-view-item">
                    <div class="sart-view-title">测试结果</div>
                    <div class="sart-view-content">
                        <yd-cell-group>
                            <yd-cell-item>
                                <span slot="left">一个周期后，活产概率</span>
                                <span slot="right">{{local_one}}%</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">两个周期后，活产概率</span>
                                <span slot="right">{{local_two}}%</span>
                            </yd-cell-item>
                            <yd-cell-item>
                                <span slot="left">三个周期后，活产概率</span>
                                <span slot="right">{{local_three}}%</span>
                            </yd-cell-item>
                        </yd-cell-group>
                    </div>
                </div>
            </div>
            <div class="sart-view-foot">
                <yd-button slot="center" type="primary" @@click.stop.native="status" v-if="state < 3">标为已处理</yd-button>
                <yd-button slot="center" bgcolor="#ccc" color="#FFF" @@click.stop.native="status" v-else>标为未处理</yd-button>
            </div>
        </div>
    </template>
}
@section foot{
    <script type="text/javascript">
        var appMain = Vue.extend({
            template: '#main',
            data: function () {
                return {
                    tab: 0,
                    page: 0,
                    list: []
                }
            },
            watch: {
                tab() {
                    this.loadStart()
                }
            },
            methods: {
                loadList() {
                    let t = this
                    t.page++;
                    t.api.post(location.pathname + '?do=pager', { tab: t.tab, page: t.page }).then(res => {
                        Vue.prototype.hideLoading();
                        t.list = t.list.concat(res.rows)
                        if (res.page > 1) {
                            if (res.total > t.list.length) {
                                t.$refs.listScroll.$emit('ydui.infinitescroll.finishLoad')
                            } else if (t.list.length > 0) {
                                t.$refs.listScroll.$emit('ydui.infinitescroll.loadedDone')
                            }
                        }
                    }, res => { })
                },
                loadStart() {
                    Vue.prototype.showLoading();
                    this.$refs.listScroll.$emit('ydui.infinitescroll.reInit');
                    this.total = 0
                    this.page = 0
                    this.list = []
                    this.loadList()
                },
                view(id) {
                    this.$router.push(vpath + '/sart/' + id)
                }
            },
            mounted() {
                document.title = '成功率测试记录'
                this.loadList()
            }
        })
        var appView = Vue.extend({
            template: '#view',
            data: function () {
                return {
                    id: 0,
                    state: 0,
                    time: '',
                    name: '',
                    mobile: '',
                    age: '',
                    height: '',
                    weight: '',
                    ageF: '',
                    heightF: '',
                    weightF: '',
                    PriorPregnancies: '0',
                    FullTermBirths: '0',
                    oocytesource: '',
                    YJCSCPLJC: '',
                    SFBJ: '',
                    YJZQSFGL: '',
                    XJQJYDST: '',
                    SFYTJZZ: '',
                    YJLSFZC: '',
                    AMH: '',
                    SFZS: '',
                    SFYWXXG: '',
                    SMSJDD8XS: '',
                    YRSCSFGL: '',
                    SFJCSYNNJD: '',
                    SFJCSYYLSW: '',
                    SFJCSYDLSW: '',
                    SFJCYJ: '',
                    SFCY: '',
                    YSKW: '',
                    SFYYDXG: '',
                    MTXZBS: '',
                    SFYGTZZSZJ: '',
                    SFJZ: '',
                    GJZJDSTZMY: '',
                    SFJCYBLDXQ: '',
                    SFGDYYL: '',
                    YJRDGX: '',
                    JRSFZCZSGYE: '',
                    SFYYYCSSGYE: '',
                    XWJXSGYEDDQ: '',
                    SGYEYS: '',
                    select: [],
                    local_one: '',
                    local_two: '',
                    local_three: '',
                    success: false
                }
            },
            methods: {
                status() {
                    this.api.post(location.pathname + '?do=state', { id: this.$route.params.id }).then(res => {
                        if (res.success) {
                            this.alert(res.message, () => { this.load() })
                        } else {
                            this.alert(res.message)
                        }
                    }, res => { })
                },
                back() {
                    this.$router.back()
                },
                load() {
                    this.api.post(location.pathname + '?do=view', { id: this.$route.params.id }).then(res => {
                        if (res.success) {
                            for (var i in res) { this[i] = res[i] }
                        } else {
                            this.alert(res.message, () => { this.$router.back() })
                        }
                    }, res => { })
                }
            }, mounted() {
                document.title = '成功率测试记录'
                this.load()
            }
        })
        router = new VueRouter({
            mode: 'history', routes: [
                { path: '/ding/sart', component: appMain },
                { path: '/ding/sart/:id', component: appView }
            ]
        })
    </script>
}