@section template{
<template id="app-main">
    <div class="wln-layout">
        <div class="wln">
            <div>
                关键词：<el-input v-model="key" placeholder="按 会议名称、议题 筛选" style="width:300px" @@keydown.enter.native="refresh"></el-input>
                <el-button type="primary" v-on:click="refresh">筛选</el-button><el-button type="primary" v-on:click="toAdd" icon="el-icon-plus">创建会议</el-button>
            </div>
            <div class="wln-line"></div>
            <el-table :data="rows" :empty-text="message">
                <el-table-column type="expand">
                    <template scope="scope">
                        <el-form label-position="right" inline class="wln-table-expand">
                            <div class="wln-expand-title" v-if="scope.row.time">时间</div>
                            <div class="wln-expand-remark" v-if="scope.row.time"><font>{{scope.row.time}}</font></div>
                            <div class="wln-expand-title" v-if="scope.row.address">地点</div>
                            <div class="wln-expand-remark" v-if="scope.row.address"><font>{{scope.row.address}}</font></div>
                            <div class="wln-expand-title">议题</div>
                            <div class="wln-expand-remark">
                                <font v-if="scope.row.topiclist.length == 0" style="color:#999999">未选择议题</font>
                                <div class="wln-expand-downitem" v-for="item in scope.row.topiclist">
                                    {{item.sort}}.{{item.title}}<font v-if="item.duration">（{{item.duration}}）</font>
                                </div>
                            </div>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column width="90" align="center" label="会议状态">
                    <template scope="scope">
                        <el-tag size="mini" type="warning" v-if="scope.row.state > 0">已召开</el-tag>
                        <el-tag size="mini" type="success" v-else @@click="toUpgrade(scope.row.id)">未召开</el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="left" label="会议名称" property="title"></el-table-column>
                <el-table-column width="168" align="center" label="会议时间" property="time"></el-table-column>
                <el-table-column width="258" align="left" label="地点" property="address"></el-table-column>
                <el-table-column width="228" align="right">
                    <template scope="scope">
                        <template v-if="scope.row.state == 0">
                            <el-button size="mini" type="warning" @@click="toUpgrade(scope.row.id)">设为已召开</el-button>
                            <el-button size="mini" type="primary" @@click="toEdit(scope.row.id)">编辑</el-button>
                            <el-button size="mini" type="info" @@click="toDel(scope.row.id)">删除</el-button>
                        </template>
                        <template v-else>

                        </template>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination @@current-change="pageset" layout="total, prev, pager, next, jumper" :current-page="page" :page-size="size" :total="total"></el-pagination>
        </div>
        <div class="wln-mask-layout" v-if="mask">
            <div class="wln-mask-body" style="width:700px;margin-top:5%;">
                <div class="wln-mask-head">会议信息</div>
                <el-form ref="form" v-model="form" label-width="120px">
                    <el-form-item label="会议名称">
                        <el-input v-model="form.title" placeholder="请输入会议名称" style="width:500px"></el-input>
                    </el-form-item>
                    <el-form-item label="会议时间">
                        <el-date-picker v-model="form.time" type="datetime" placeholder="选择日期时间" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" style="width:200px"></el-date-picker>
                        &nbsp;&nbsp;地点：<el-input v-model="form.address" placeholder="请输入会议地址" style="width:245px"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <div style="border-radius:4px;border:1px solid #DCDFE6;width:497px;height:320px;">
                            <el-table :data="form.topiclist" max-height="320" empty-text="暂未选择议题，请选择">
                                <el-table-column label="顺序" width="80" align="center">
                                    <template slot-scope="scope">
                                        <input type="text" v-model="scope.row.sort" v-on:change="changeSort" class="el-input__inner" style="width:50px;text-align:center;height:30px;line-height:30px;">
                                    </template>
                                </el-table-column>
                                <el-table-column label="议题" align="left" prop="title"></el-table-column>
                                <el-table-column label="时长" align="center" prop="duration" width="60"></el-table-column>
                            </el-table>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <el-button size="small" icon="el-icon-check" type="primary" v-on:click="doSubmit">保存</el-button>
                        <el-button size="small" icon="el-icon-close" v-on:click="close">取消</el-button>
                        <el-button size="small" icon="el-icon-plus" type="primary" v-on:click="toSelect" style="margin-left:250px !important">选择议题</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <el-drawer title="请选择议题" size="600px" direction="rtl" :visible.sync="drawerShow">
            <div style="margin:0 30px 30px 30px">
                <el-table ref="select" :data="select.rows" @@selection-change="changeSelect" empty-text="暂无可选议题，请先添加或申报">
                    <el-table-column type="selection" width="30"></el-table-column>
                    <el-table-column label="议题" align="left" prop="title"></el-table-column>
                    <el-table-column label="时长" align="center" prop="duration" width="60"></el-table-column>
                </el-table>
            </div>
            <el-button size="small" icon="el-icon-check" type="primary" v-on:click="confirmSelect" style="margin-left:250px !important">确定选择</el-button>
        </el-drawer>
    </div>
</template>
}
@section script{
<script type="text/javascript">
    let id =0
    var vpath = "/@ViewBag.Action";
    var form = { id: '', title: '', time: '', address: '', topiclist: [] }
    var appMain = Vue.extend({
        template: '#app-main',
        data: function () {
            ds.mask = false
            ds.form = {}
            ds.drawerShow = false
            ds.select = { rows: [], select: [] }
            for (var i in form) { ds.form[i] = form[i] };
            return ds
        },
        methods: {
            pager() {
                let t = this;
                asyncGet(location.pathname + '?do=pager', { page: t.page, size: t.size, key: t.key}).then(res => {
                    t.message = res.message;
                    t.total = res.total;
                    t.page = res.page;
                    t.rows = res.rows;
                });
            },
            refresh() {
                this.total = 0
                this.page = 0
                this.rows = []
                this.pager()
            },
            pageset(val) {
                this.page = val;
                this.pager();
            },
            close() {
                this.mask = false
            },
            toSelect() {
                let t = this
                t.drawerShow = true;
                t.select.checked = []
                post(location.pathname + '?do=topic', { id: t.form.id }).then(res => {
                    t.select.rows = res;
                    for (var i = 0; i < t.form.topiclist.length; i++) {
                        let row = t.select.rows.filter(o => o.id == t.form.topiclist[i].id)[0];
                        if (row && row.id) {
                            t.$refs.select.toggleRowSelection(row)
                        }
                    }
                });
            },
            confirmSelect() {
                let t = this
                let tmp = {};
                for (var i = 0; i < t.form.topiclist.length; i++) {
                    tmp[t.form.topiclist[i].id] = t.form.topiclist[i].sort;
                }
                t.form.topiclist = []
                for (var i = 0; i < t.select.checked.length; i++) {
                    let obj = t.select.checked[i];
                    obj.sort = tmp[obj.id] ? tmp[obj.id] : '';
                    t.form.topiclist.push(obj)
                }
                t.drawerShow = false;
                t.changeSort();
            },
            changeSelect(val) {
                this.select.checked = val
            },
            changeSort() {
                this.form.topiclist = this.form.topiclist.sort((a, b) => {
                    if (!a.sort) {
                        return 1;
                    } else if (!b.sort) {
                        return -1
                    } else {
                        return parseInt(a.sort) - parseInt(b.sort)
                    }
                })
            },
            toAdd() {
                let t = this
                t.mask = true
                t.select.rows = []
                for (var i in form) { t.form[i] = form[i] };
            },
            toUpgrade(id) {
                let t = this;
                Vue.prototype.$confirm('设为已召开后将不可修改, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    post(location.pathname + '?do=upgrade', { id: id }).then(res => {
                        t.refresh()
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    })
                }).catch(() => {
                    Vue.prototype.$message({ type: 'info', message: '操作已取消' })
                })
            },
            toDel(id) {
                let t = this;
                Vue.prototype.$confirm('您正在删除所选议题, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    post(location.pathname + '?do=del', { id: id }).then(res => {
                        t.refresh()
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    })
                }).catch(() => {
                    Vue.prototype.$message({ type: 'info', message: '操作已取消' })
                })
            },
            toEdit(id) {
                let t = this
                t.mask = true
                t.select.rows = []
                for (var i in form) { t.form[i] = form[i] };
                post(location.pathname + '?do=get', {id:id}).then(res => {
                    if (res.success) {
                        t.mask = true
                        for (var i in form) { t.form[i] = res[i] };
                    } else {
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    }
                }).catch(() => {})
            },
            doSubmit: function () {
                let t = this
                let obj = {};
                for (var i in t.form) { obj[i] = t.form[i] }
                obj.topiclist = JSON.stringify(obj.topiclist)
                post(location.pathname + '?do=set', obj).then(res => {
                    Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    if (res.success) {
                        t.mask = false
                        t.refresh()
                    }
                })
            },
        }, created() {
            this.refresh()
        }
    })
    new Vue({
        el: '#app', router: new VueRouter({
            mode: 'history', routes: [
                { path: vpath, component: appMain }
            ]
        })
    });
</script>
}