@{ Layout = "_master.cshtml";}
@section head{
    <style>
        .enter-meet {
            position: relative;
            margin-top: 0.2rem;
            padding: 0.2rem 0.5rem;
            background-color: #ffffff;
        }
            .enter-meet:before {
                height: 1px;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                background-image: -webkit-linear-gradient(bottom,#ececec 50%,transparent 0);
                background-image: linear-gradient(0deg,#ececec 50%,transparent 0);
            }
            .enter-meet:after {
                height: 1px;
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: 0;
                content: "";
                width: 100%;
                background-image: -webkit-linear-gradient(bottom,#ececec 50%,transparent 0);
                background-image: linear-gradient(0deg,#ececec 50%,transparent 0);
            }
        .enter-meet-line {
            height: 1px;
            width: 100%;
            content: " ";
            font-size: 0;
            display: block;
            margin: 0.1rem 0;
            background-image: -webkit-linear-gradient(bottom,#ececec 50%,transparent 0);
            background-image: linear-gradient(0deg,#ececec 50%,transparent 0);
        }
        .enter-meet-head {
            width: 100%;
            display: table;
        }
        .enter-meet-avatar {
            width: 0.7rem;
            display: table-cell;
            text-align: right;
            vertical-align: top;
        }
        .enter-meet-avatar img {
            width: 0.6rem;
            height: 0.6rem;
            overflow:hidden;
            border-radius: 50%;
            margin-right: 0.05rem;
            /*border: 0.02rem solid #9c9c9c;*/
        }
        .enter-meet-content {
            display: table-cell;
            vertical-align: top;
        }
        .enter-meet-name {
            font-size: 0.3rem;
            line-height: 0.4rem;
        }
        .enter-meet-text {
            color: #9c9c9c;
            font-size: 0.2rem;
            line-height: 0.3rem;
        }
        .enter-meet-empty {
            padding: 0.5rem;
            text-align: center;
            font-size: 0.3rem;
            color: #6c6c6c;
        }
        .enter-meet-empty > img {
            width: 80%;
            margin: 0.3rem auto;
            display: block;
        }
        .enter-meet-item {
            border-radius: 0.1rem;
            overflow: hidden;
            color: #9c9c9c;
            font-size: 0.24rem;
            line-height: 0.3rem;
            box-shadow: 0 0 0.1rem #d0d0d0;
            padding: 0.1rem 0.2rem;
            margin-bottom: 0.2rem;
            min-height: 1.8rem;
            background-color: #fdfdfd;
        }
        .enter-meet-item-title {
            color: #000000;
            padding: 0.1rem 0;
            font-size: 0.32rem;
            line-height: 0.36rem;
        }
        .enter-meet-item-body {
            padding: 0.1rem 0;
            margin: 0.1rem auto;
            border-top: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            line-height: 0.4rem;
        }
        .enter-meet-item-foot > font{
            line-height:0.5rem;
        }
        .enter-meet-item-foot .yd-btn {
            height: 0.5rem;
            float:right;
        }
        .enter-meet-item-foot .yd-btn i {
            vertical-align: middle;
        }
    </style>
}
@section body{
    <template id="main">
        <div>
            <yd-grids-group :rows="3">
                <yd-grids-item @@click.native="toFlows(0)">
                    <yd-badge slot="else" type="danger" v-if="need" style="top:15%;right:24%;position:absolute;">{{need}}</yd-badge>
                    <yd-icon slot="icon" name="feedback" color="#409eff"></yd-icon>
                    <span slot="text">待我处理</span>
                </yd-grids-item>
                <yd-grids-item @@click.native="toFlows(1)">
                    <yd-icon slot="icon" name="order" color="#4caf50"></yd-icon>
                    <span slot="text">我已处理</span>
                </yd-grids-item>
                <yd-grids-item @@click.native="toFlows(2)">
                    <yd-icon slot="icon" name="shield" color="#bd35d4"></yd-icon>
                    <span slot="text">由我发起</span>
                </yd-grids-item>
            </yd-grids-group>
            <div class="enter-meet" v-if="success">
                <div class="enter-meet-head">
                    <div class="enter-meet-avatar"><img src="@ViewBag.Avatar" /></div>
                    <div class="enter-meet-content">
                        <div class="enter-meet-name">会议提醒</div>
                        <div class="enter-meet-text">需要我参加的会议</div>
                    </div>
                </div>
                <div class="enter-meet-line" style="margin-bottom:0.2rem"></div>
                <div class="enter-meet-list">
                    <div class="enter-meet-empty" v-if="meets.length == 0">
                        <img src="/flow/empty.jpg" />
                        <div>还没有需要参加的会议</div>
                    </div>
                    <div class="enter-meet-item" v-else v-for="item in meets">
                        <div class="enter-meet-item-title">{{item.title}}</div>
                        <div class="enter-meet-item-body">
                            <div>时间：{{item.time}}</div>
                            <div>地点：<font v-if="item.address">{{item.address}}</font><font style="color:#9c9c9c">未填写</font></div>
                            <div v-if="item.participants">人员：{{item.participants}}</div>
                        </div>
                        <div class="enter-meet-item-foot">
                            @*<font style="color:#ffb400">未确认</font>
                            <font style="color:#04be02">已确认</font>*@
                            <yd-button type="primary" @@click.stop.native="toMeet(item.id)"><yd-icon name="feedback" size="0.24rem"></yd-icon> 议题资料查看</yd-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
}
@section foot{
    <script type="text/javascript">
        var appMain = Vue.extend({
            template: '#main',
            data: function () {
                return {
                    need: parseInt('@ViewBag.Need'),
                    meets: []
                }
            },
            methods: {
                toFlows: function (type) {
                    location.href = vpath + '/flows?type=' + type
                },
                toMemberList: function () {
                    location.href = vpath + '/memberlist'
                },
                toMemberLogs: function () {
                    location.href = vpath + '/memberlogs'
                },
                load: function () {
                    let t = this
                    Vue.prototype.showLoading();
                    t.api.get(location.pathname + '?do=load').then(res => {
                        Vue.prototype.hideLoading();
                        for (var i in res) { t[i] = res[i] }
                    }, res => { })
                },
                toMeet: function (id) {
                    location.href = vpath + '/meet?id=' + id + '&showmenu=false';
                },
            }, mounted() {
                document.title = '会议助手'
                try { dd.biz.navigation.setTitle({ title: '会议助手' }); } catch (e) { }
                this.load()
            }
        })
        router = new VueRouter({
            mode: 'history', routes: [
                { path: location.pathname, component: appMain }
            ]
        })
    </script>
}