@{ Layout = "_master.cshtml";}
@section head{
    <style>
        .empty {
            color: #9c9c9c;
        }

        .dingtalk::before {
            height: 0px !important;
        }

        .yd-preview-item > :last-child {
            color: #111111;
            text-align: left !important;
        }

        .fileitem {
            width: 5rem;
            font-size: 0;
            display: table;
            padding: 0.1rem;
            cursor: pointer;
            height: 0.64rem;
            border: 1px solid #efefef;
            margin-bottom: 0.1rem;
            border-radius: 0.1rem;
        }

        .fileitem > * {
            font-size: 0;
            display: table-cell;
            line-height: 0.3rem;
            vertical-align: middle;
        }

        .fileitem img {
            width: 0.64rem;
            height: 0.64rem;
            vertical-align: inherit;
        }

        .fileitem > div:first-child {
            width: 0.64rem;
        }

        .fileitem > div:last-child {
            font-size: 0.28rem;
        }
        .yd-accordion-content .yd-preview {
            background-color: #fefefe;
        }
    </style>
}
@section body{
    <template id="main">
        <div>
            <yd-accordion>
                <yd-accordion-item :title="item.index + '. ' + item.title" v-for="(item,index) in topics" :open="index==0">
                    <yd-preview :buttons="btns">
                        <div style="padding-top:0.3rem"></div>
                        <yd-preview-item>
                            <div slot="left">议题内容</div>
                            <div slot="right"><font v-if="item.content">{{item.content}}</font><font class="empty" v-else>未填写</font></div>
                        </yd-preview-item>
                        <yd-preview-item>
                            <div slot="left">参会成员</div>
                            <div slot="right"><font v-if="item.participant">{{item.participant}}</font><font class="empty" v-else>未填写</font></div>
                        </yd-preview-item>
                        <yd-preview-item>
                            <div slot="left">申报部门</div>
                            <div slot="right"><font v-if="item.department">{{item.department}}</font><font class="empty" v-else>未填写</font></div>
                        </yd-preview-item>
                        <yd-preview-item v-if="item.duration>0">
                            <div slot="left">预计时长</div>
                            <div slot="right">{{item.duration}}分钟</div>
                        </yd-preview-item>
                        <yd-preview-item v-if="item.files.length>0">
                            <div slot="left">附件资料</div>
                            <div slot="right">
                                <div class="fileitem" v-on:click="toFile(file)" v-for="file in item.files">
                                    <div><img src="/svg/file.svg" /></div><div>{{file.name}}</div>
                                </div>
                            </div>
                        </yd-preview-item>
                    </yd-preview>
                </yd-accordion-item>
            </yd-accordion>
        </div>
    </template>
}
@section foot{
    <script src="/dingtalk.js?t=@ViewBag.TimeStamp"></script>
    <script src="/js/dingtalk.js?t=@ViewBag.TimeStamp"></script>
    <script type="text/javascript">
        var appMain = Vue.extend({
            template: '#main',
            data: function () {
                return {
                    id: '',
                    title: '',
                    topics: [],
                    success: false,
                    btns: []
                }
            },
            methods: {
                toFile(obj) {
                    if (parent && typeof parent.openDocs == 'function') {
                        parent.openDocs({ name: obj.name, link: obj.link, url: location.protocol + '//' + location.hostname + obj.key });
                    } else {
                        window.open(obj.link)
                    }
                }
            }, mounted() {
                let t = this
                t.api.post(location.pathname + '?do=body', { id: t.$route.query.id }).then(res => {
                    if (res.success) {
                        for (var i in res) { t[i] = res[i] }
                        document.title = res.title
                        try { dd.biz.navigation.setTitle({ title: res.title }); } catch (e) { }
                    }
                }, res => { })
            }
        })
        router = new VueRouter({
            mode: 'history', routes: [
                { path: location.pathname, component: appMain }
            ]
        })
    </script>
}