@{ Layout = "_master.cshtml";}
@section body{
    <template id="main">
        <div>
            <yd-tab v-model="tab">
                <yd-tab-panel label="已绑手机号"></yd-tab-panel>
                <yd-tab-panel label="未绑手机号"></yd-tab-panel>
            </yd-tab>
            <yd-search v-model="key" :on-submit="loadStart" :on-cancel="loadCancel"></yd-search>
            <div class="member-list">
                <yd-infinitescroll :callback="loadList" ref="listScroll">
                    <template slot="list">
                        <div class="member-item" v-for="item in list">
                            <div class="member-head">
                                <span class="member-name">{{item.name}}</span>
                                <font>TEL:</font><font v-if="item.mobile">{{item.mobile}}</font><font v-else>未留手机号</font><em>{{item.name}}</em>
                            </div>
                            <div class="member-body">
                                <div>首次注册<span>{{item.create}}</span></div>
                                <div>最后来访<span>{{item.loginlast}}</span></div>
                            </div>
                            <div class="member-foot">
                                <yd-button type="primary" @@click.stop.native="view(item.id)">用户详情</yd-button>
                            </div>
                        </div>
                        <div v-if="list.length == 0" style="text-align:center; padding: 1rem; color:#c9c9c9">暂无用户信息</div>
                    </template>
                    <span slot="doneTip">到底啦，暂无更多数据~~</span>
                </yd-infinitescroll>
            </div>
        </div>
    </template>
    <template id="view">
        <div class="member-view">
            <div class="member-view-body" v-if="success">
                <div class="member-view-item">
                    <div class="member-view-title">基础信息</div>
                    <div class="member-view-content">
                        <yd-cell-group>
                            <yd-cell-item v-if="name">
                                <span slot="left">姓名</span>
                                <span slot="right">{{name}}</span>
                            </yd-cell-item>
                            <yd-cell-item v-if="mobile">
                                <span slot="left">手机号码</span>
                                <span slot="right">{{mobile}}</span>
                            </yd-cell-item>
                            <yd-cell-item v-if="create">
                                <span slot="left">注册时间</span>
                                <span slot="right">{{create}}</span>
                            </yd-cell-item>
                            <yd-cell-item v-if="create">
                                <span slot="left">最后访问</span>
                                <span slot="right">{{loginlast}}</span>
                            </yd-cell-item>
                        </yd-cell-group>
                    </div>
                </div>

                <div class="member-view-item" v-if="sart_list.length > 0">
                    <div class="member-view-title">成功率测试记录</div>
                    <yd-cell-group>
                        <yd-cell-item arrow v-for="item in sart_list" @@click.stop.native="sart(item.id)">
                            <span slot="left">{{item.time}}</span>
                            <span slot="right">查看</span>
                        </yd-cell-item>
                    </yd-cell-group>
                </div>
            </div>
        </div>
    </template>
}
@section foot{
    <script type="text/javascript">
        var appMain = Vue.extend({
            template: '#main',
            data: function () {
                return {
                    key: '',
                    tab: 0,
                    page: 0,
                    list: [],
                    rightMember: parseInt('@ViewBag.RightMember')
                }
            },
            watch: {
                tab() {
                    this.loadStart()
                }
            },
            methods: {
                loadList() {
                    let t = this
                    t.page++;
                    t.api.post(location.pathname + '?do=pager', { tab: t.tab, page: t.page, key: t.key }).then(res => {
                        Vue.prototype.hideLoading();
                        t.list = t.list.concat(res.rows)
                        if (res.page > 1) {
                            if (res.total > t.list.length) {
                                t.$refs.listScroll.$emit('ydui.infinitescroll.finishLoad')
                            } else if (t.list.length > 0) {
                                t.$refs.listScroll.$emit('ydui.infinitescroll.loadedDone')
                            }
                        }
                    }, res => { })
                },
                loadStart() {
                    Vue.prototype.showLoading();
                    this.$refs.listScroll.$emit('ydui.infinitescroll.reInit');
                    this.total = 0
                    this.page = 0
                    this.list = []
                    this.loadList()
                },
                loadCancel() {
                    this.key = ''
                    this.loadStart()
                },
                view(id) {
                    let t = this
                    if (t.rightMember > 0) {
                        this.$router.push(vpath + '/memberlist/' + id)
                    } else {
                        t.alert("操作无效，您暂无“用户详情查看”权限")
                    }
                }
            },
            mounted() {
                document.title = '用户列表'
                this.loadList()
            }
        })
        var appView = Vue.extend({
            template: '#view',
            data: function () {
                return {
                    id: 0,
                    name: '',
                    mobile: '',
                    create: '',
                    loginlast: '',
                    sartlist: [],
                    success: false
                }
            },
            methods: {
                back() {
                    this.$router.back()
                },
                load() {
                    this.api.post(location.pathname + '?do=view', { id: this.$route.params.id }).then(res => {
                        if (res.success) {
                            for (var i in res) { this[i] = res[i] }
                        } else {
                            this.alert(res.message, () => { this.$router.back() })
                        }
                    }, res => { })
                },
                sart(id) {
                    location.href = vpath + '/sart/' + id
                }
            }, mounted() {
                document.title = '成功率测试记录'
                this.load()
            }
        })
        router = new VueRouter({
            mode: 'history', routes: [
                { path: '/ding/memberlist', component: appMain },
                { path: '/ding/memberlist/:id', component: appView }
            ]
        })
    </script>
}